.hero {
    position: relative;
    width: 100%;
    text-align: center;

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    @media (max-width: 768px) {
        
        img {
            display: none;
        }

        background-image: url("../images/maligno_celular.jpg");
        background-size: cover;         
        background-position: center top;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;                 
        margin-top: 0;                 
        padding: 0;
    }

    @media (max-width: 480px) {
        background-size: contain;
        padding-top: calc(80vw + 25px);
        margin-top: -40px;
    }
}