@use 'variaveis';
@use 'hero';
@use 'about';
@use 'movies';
@use 'reason';
@use 'footer';
@use 'header';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}


body {
    background-color:variaveis.$corDeFundo;
    font-family: Avenir, sans-serif;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSeundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSeundario;
    text-decoration: underline;
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border: none;
    font-size: 18px;
    color: variaveis.$corTextoSeundario;
    background-color: variaveis.$corFundoBotao;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corFundoBotao;

    &:hover {
        background-color: lighten(variaveis.$corFundoBotao, 3%);
    }
}